<div class="container">
    <h5>Add Staff:</h5><br>
  <form class="row g-3">
      <div class="col-md-6">
        <label for="inputName" class="form-label">Full Name:</label>
        <input type="text" class="form-control" id="inputName">
      </div>
  
     <div class="col-md-6">
          <label for="inputDepartment" class="form-label">Department:</label>
          <select id="inputDepartment" class="form-select">
            <option selected>Choose...</option>
            <option>Front End Development</option>
            <option>Marketing</option>
            <option>Human Resourses</option>
            <option>Designing</option>
            <option>Backe End Development</option>
            <option>Finance</option>
            <option>Full Stack Development</option>
            <option>Database</option>
          </select>
        </div>
  
      <div class="col-md-6">
          <label for="inputGender" class="form-label">Gender:</label>
          <select id="inputGender" class="form-select">
            <option selected>Choose...</option>
            <option>Male</option>
            <option>Female</option>
            <option>Other</option>
          </select>
        </div>
  
      <div class="col-6">
        <label for="inputEmail" class="form-label">Email:</label>
        <input type="email" class="form-control" id="inputEmail" placeholder="abc@gmail.com">
      </div>
  
      <div class="col-md-6">
        <label for="inputMobile" class="form-label">Mobile:</label>
        <input type="tel" class="form-control" id="inputMobile">
      </div>
      
      <div class="col-md-6">
          <label class="inputFile" for="form-lable">Photo Upload:</label>
          <input type="file" class="form-control" id="inputFile">
        </div>
  
        <div class="col-md-6">
          <label for="inputBirthdate" class="form-label">Date Of Birth:</label>
          <input type="date" class="form-control" id="inputBirthdate">
        </div>
  
        <div class="col-md-6">
          <label for="inputJoindate" class="form-label">Date Of Joining:</label>
          <input type="date" class="form-control" id="inputJoindate">
        </div>
  
        <div class="col-md-6">
          <label for="inputCity" class="form-label">City:</label>
          <input type="text" class="form-control" id="inputMobile">
        </div>
  
        <div class="col-md-6">
          <label for="inputState" class="form-label">State:</label>
          <input type="text" class="form-control" id="inputState">
        </div>
  
        <div class="col-md-6">
          <label for="inputCountry" class="form-label">Country:</label>
          <select id="inputCountry" class="form-select">
            <option selected>Choose...</option>
            <option>India</option>
            <option>Spain</option>
            <option>France</option>
            <option>London</option>
            <option>Italy</option>
          </select>
        </div>
  
        
        <div class="col-md-6">
          <label for="inputAddress" class="form-label">Address:</label>
          <textarea class="form-control" aria-label="With textarea"></textarea>
        </div>
      
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
