
<!-- ======================= Cards ================== -->
<div class="cardBox">
    <div class="card">
        <div>
            <div class="numbers">10</div>
            <div class="cardName">Departments</div>
        </div>

        <div class="iconBx">
          <i class="fa fa-home" aria-hidden="true"></i>
        </div>
    </div>

    <div class="card">
        <div>
            <div class="numbers">2130</div>
            <div class="cardName">Staff</div>
        </div>

        <div class="iconBx">
          <i class="fa fa-users" aria-hidden="true"></i>
        </div>
    </div>

    <div class="card">
        <div>
            <div class="numbers">0</div>
            <div class="cardName">Leave Request</div>
        </div>

        <div class="iconBx">
          <i class="fa fa-question" aria-hidden="true"></i>
        </div>
    </div>

    <div class="card">
        <div>
            <div class="numbers">$7842</div>
            <div class="cardName">Salary Paid</div>
        </div>

        <div class="iconBx">
          <i class="fa fa-money" aria-hidden="true"></i>
        </div>
    </div>
</div>




