<div class="container">
    <h5>Employee Attendance:</h5><br>
  <form class="row g-3">
      <div class="col-md-6">
        <label for="inputName" class="form-label">Employee Name:</label>
        <input type="text" class="form-control" id="inputName">
      </div>
  
     <div class="col-md-6">
          <label for="inputDepartment" class="form-label">Department:</label>
          <select id="inputDepartment" class="form-select">
            <option selected>Choose...</option>
            <option>Front End Development</option>
            <option>Marketing</option>
            <option>Human Resourses</option>
            <option>Designing</option>
            <option>Backe End Development</option>
            <option>Finance</option>
            <option>Full Stack Development</option>
            <option>Database</option>
          </select>
        </div>

        <div class="col-md-6">
            <label for="inputGender" class="form-label">Gender:</label>
            <select id="inputGender" class="form-select">
              <option selected>Choose...</option>
              <option>Male</option>
              <option>Female</option>
              <option>Other</option>
            </select>
          </div>
        
        <div class="col-md-6">
            <label for="inputDate" class="form-label">Select Date:</label>
            <input type="date" class="form-control" id="inputDate">
          </div>

  
      <div class="col-6">
        <label for="inputtime1" class="form-label">Sign In Time:</label>
        <input type="time" class="form-control" id="inputtime1" placeholder="Now">
      </div>

      <div class="col-6">
        <label for="inputtime2" class="form-label">Sign Out Time:</label>
        <input type="time" class="form-control" id="inputtime2" placeholder="Now">
      </div>

      <div class="col-md-6">
        <label for="inputPlace" class="form-label">Place:</label>
        <select id="inputPlace" class="form-select">
          <option selected>Choose...</option>
          <option>Office</option>
          <option>Field</option>
          <option>Work From Home</option>
        </select>
      </div>
      
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
