  <!-- ================ Order Details List ================= -->
  <div class="details">
    <div class="recentOrders">
        <div class="cardHeader">
            <h2>Working Staff</h2>
            <a routerLink="navigation/staff" class="btn">View All</a>
            
        </div>
        <br><br><br>
        <table>
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Salary</td>
                    <td>Department</td>
                    <td>Work Status</td>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>David</td>
                    <td>$1200</td>
                    <td>Front End Development</td>
                    <td><span class="status delivered">On Work</span></td>
                </tr>

                <tr>
                    <td>Smith</td>
                    <td>$110</td>
                    <td>Marketing</td>
                    <td><span class="status delivered">On Work</span></td>
                </tr>

                <tr>
                    <td>Jack</td>
                    <td>$1200</td>
                    <td>Human Resourses </td>
                    <td><span class="status return">On Leave</span></td>
                </tr>

                <tr>
                    <td>Clara</td>
                    <td>$620</td>
                    <td>Designing</td>
                    <td><span class="status inProgress">On Bench</span></td>
                </tr>

                <tr>
                    <td>Jassica</td>
                    <td>$1200</td>
                    <td>Backe End Development</td>
                    <td><span class="status delivered">On Work</span></td>
                </tr>

                <tr>
                    <td>Victor</td>
                    <td>$110</td>
                    <td>Finance</td>
                    <td><span class="status delivered">On work</span></td>
                </tr>

                <tr>
                    <td>Mini</td>
                    <td>$1200</td>
                    <td>Full Stack Development</td>
                    <td><span class="status return">On Leave</span></td>
                </tr>

                <tr>
                    <td>Lara</td>
                    <td>$620</td>
                    <td>Database</td>
                    <td><span class="status inProgress">On Bench</span></td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- ================= New Customers ================ -->
    <div class="recentCustomers">
        <div class="cardHeader">
            <h2>Achievers Employee Recognition</h2>
        </div>

        <table>
            <tr>
                <td width="60px">
                    <div class="imgBx"><img src="assets/user.jpg" alt=""></div>
                </td>
                <td>
                    <h4>David<br> <span>Italy</span></h4>
                </td>
            </tr>

            <tr>
                <td width="60px">
                    <div class="imgBx"><img src="assets/user1.jpg" alt=""></div>
                </td>
                <td>
                    <h4>John<br> <span>India</span></h4>
                </td>
            </tr>

            <tr>
                <td width="60px">
                    <div class="imgBx"><img src="assets/user2.jpg" alt=""></div>
                </td>
                <td>
                    <h4>Smith<br> <span>Spain</span></h4>
                </td>
            </tr>

            <tr>
                <td width="60px">
                    <div class="imgBx"><img src="assets/user3.jpg" alt=""></div>
                </td>
                <td>
                    <h4>Mini<br> <span>India</span></h4>
                </td>
            </tr>

            <tr>
                <td width="60px">
                    <div class="imgBx"><img src="assets/user4.jpg" alt=""></div>
                </td>
                <td>
                    <h4>Clara<br> <span>London</span></h4>
                </td>
            </tr>

            <tr>
                <td width="60px">
                    <div class="imgBx"><img src="assets/user5.jpg" alt=""></div>
                </td>
                <td>
                    <h4>Jassica<br> <span>France</span></h4>
                </td>
            </tr>

            <tr>
                <td width="60px">
                    <div class="imgBx"><img src="assets/user6.jpg" alt=""></div>
                </td>
                <td>
                    <h4>Lara<br> <span>Italy</span></h4>
                </td>
            </tr>

            <tr>
                <td width="60px">
                    <div class="imgBx"><img src="assets/user7.jpg" alt=""></div>
                </td>
                <td>
                    <h4>James<br> <span>Spain</span></h4>
                </td>
            </tr>
        </table>
    </div>
</div>

