<div class="container">
    <h5>Add Salary:</h5><br>
  <form class="row g-3">

    <div class="col-md-6">
        <label for="inputDepartment" class="form-label">Department:</label>
        <select id="inputDepartment" class="form-select">
          <option selected>Choose...</option>
          <option>Front End Development</option>
          <option>Marketing</option>
          <option>Human Resourses</option>
          <option>Designing</option>
          <option>Backe End Development</option>
          <option>Finance</option>
          <option>Full Stack Development</option>
          <option>Database</option>
        </select>
      </div>

      <div class="col-md-6"></div>

      
      <div class="col-md-3">
        <label for="inputName" class="form-label">Employee Name:</label>
        <input type="text" class="form-control" id="inputName">
      </div>

      <div class="col-md-3">
        <label for="inputName" class="form-label">Basic Salary($):</label>
        <input type="text" class="form-control" id="inputName">
      </div>
  
      <div class="col-md-3">
        <label for="inputName" class="form-label">Allowance($):</label>
        <input type="text" class="form-control" id="inputName">
      </div>

      <div class="col-md-3">
        <label for="inputName" class="form-label">Total($):</label>
        <input type="text" class="form-control" id="inputName">
      </div>
  
     
  
      
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>

